<%= render 'layouts/header' %>

<h1>Ponds</h1>
<% @ponds.each do |pond| %>
  <p><%= link_to pond.name, pond %></p>
<% end %>
<p><%= link_to "Create a new pond", new_pond_path %></p>

<%= render 'layouts/footer' %>